/* Estilos para todo el sitio */
.body-inicio {
  background-color: var(--background);
  color: white;
  min-height: 100vh;
}

::selection {
  background: var(--button);
}

/* Estilos para el login*/
.main-login {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.titulo-iniciar-sesion {
  color: var(--texto-claro);
}
.container {
  max-width: 440px;
  padding: 0 20px;
  margin: 20px auto;
}
.wrapper {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
}
.wrapper .title {
  height: 90px;
  background: var(--button);
  border-radius: 5px 5px 0 0;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form {
  padding: 30px 25px 25px 25px;
  background-color: var(--button);
}
.wrapper form .row {
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}
.wrapper form .row input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 60px;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s ease;
  background-color: transparent;
  color: white;
}
form .row input:focus {
  border-color: #fff;
}
form .row input::placeholder {
  color: #999;
}
.wrapper form .row i {
  position: absolute;
  width: 47px;
  height: 100%;
  color: var(--button);
  font-size: 18px;
  background: var(--acento);

  border: 1px solid var(--button);
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form .pass {
  margin: -8px 0 20px 0;
}
.wrapper form .pass a {
  color: #fc2d31;
  font-size: 17px;
  text-decoration: none;
}
.wrapper form .pass a:hover {
  text-decoration: underline;
}
.wrapper form .button input {
  color: #1e1e1e;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: transparent;
  border: 1px solid white;
  cursor: pointer;
  color: white;
}
.wrapper form .button input:hover,
.wrapper form .button input:focus {
  border: solid 1px var(--acento);
}
.wrapper form .signup-link {
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
  color: white;
}
.wrapper form .signup-link a {
  color: var(--acento);
  text-decoration: none;
}
form .signup-link a:hover {
  text-decoration: underline;
}
.form-login input {
  color: var(--button);
}
