body.body-registro {
  background-color: var(--background) !important;
}

h1.registration-title {
  position: relative;
  text-transform: uppercase;
}

h1.registration-title:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background-color: var(--acento);
}

form {
  background-color: #2c2c2c;
  color: #ffffff;
  padding: 20px;
  border-radius: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  background-color: #2c2c2c;
  color: #ffffff;
  border: 1px solid var(--acento);
  padding: 10px;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #1e1e1e;
  color: #ffffff;
  border: 1px solid #1e1e1e;
  padding: 10px 20px;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: var(--acento);
  color: #ffffff;
  border: 1px solid var(--acento);
}

#popup .modal-content {
  background-color: #f2f2f2;
  border: 2px solid #ccc;
}

#popup .modal-title {
  color: #333;
}

#popup .modal-body {
  font-size: 16px;
}

/* Estilos del formulario */
.main-login {
  background-color: var(--color-light);
  padding: 20px;
}

.title span {
  color: var(--color-dark);
}

.form-login {
  background-color: var(--color-light);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-login .row {
  margin: 15px 0;
}

.form-login .row input[type="email"],
.form-login .row input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--color-dark);
}

.form-login .pass {
  text-align: right;
  margin-bottom: 15px;
}

.form-login .button input[type="submit"] {
  background-color: var(--color-primary);
  color: var(--color-light);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-link {
  text-align: center;
  margin-top: 15px;
}

.signup-link a {
  color: var(--color-primary);
  text-decoration: none;
}
