* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
/* Estilos para todo el sitio */
.body-inicio {
  background-color: var(--background);
  color: white;
  min-height: 100vh;
}

/* Seccion juego destacado inicio */

.juegodestacado {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30rem;
}
.contenedor-juego-destacado {
  display: flex;
  background-color: var(--bg-light);
  width: 80%;
  height: 85%;
}
.imagen-destacada {
  width: 50%;
}
.imagen-destacada-img {
  min-height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.infojuego-contenedor {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.etiqueta-juego-destacado {
  background-color: var(--button);
  padding: 0.3rem;
  font-size: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 2rem;
  width: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info-juego {
  padding: 2rem;
}
.juego-destacado-titulo {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 44px;
}
.boton-comprar-ahora-juego-destacado {
  padding: 0.8rem;
  outline: none;
  border: none;
  background-color: var(--button);
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: bold;
  font-size: 12px;
}
.boton-comprar-ahora-juego-destacado:hover,
.boton-comprar-ahora-juego-destacado:focus,
.boton-comprar-ahora-juego-destacado:active {
  background-color: var(--background);
  transition: background-color 0.2s;
}

/* Seccion juegos en tendencia */
.listado-juegos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.seccion-juegos {
  width: 80%;
}

/* Aqui empieza la fila de productos */
.contenedor-juegos-inicio {
  display: flex;
  flex-wrap: wrap;
  gap: 1.3rem;
}
.imagen-juego-inicio {
  width: 200px;
  height: 300px;
  object-fit: cover;
}
.producto-inicio {
  max-width: 12rem;
  overflow: hidden;
}
.titulo-juego-inicio {
  /* text-transform: uppercase; */
  font-weight: bold;
  margin: 0;
  margin-top: 0.5rem;
  display: block;
  white-space: wrap;
  /* font-size: 1.5rem; */
}
.titulo-seccion-juegos {
  margin-top: 1rem;
}
.categoría-juego-inicio {
  text-transform: uppercase;
  color: var(--texto-claro);
  font-size: 0.8rem;
  margin: 2px;
  font-weight: bold;
}
.hipervinculo-ver-mas-juego-inicio {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 0.8rem;
  margin: 0;
}
button::before {
  margin-left: auto;
}
.hipervinculo-ver-mas-juego-inicio::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--acento);
  display: block;
  transition: 0.3s;
}

.hipervinculo-ver-mas-juego-inicio:hover::after,
.hipervinculo-ver-mas-juego-inicio:hover::before {
  width: 30%;
}

/* Informacion adicional */
.informacion-adicional-contenedor {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  gap: 3rem;
  overflow-x: hidden;
}
.bloques-informacion-adicional {
  background-color: var(--bg-light);
  width: 40%;
  min-height: 25rem;
  padding: 2rem;
}
.titulo-bloque-info {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
  width: 80%;
}
.bloque-info-con-imagen {
  position: relative;
}
.info-bloque-2,
.info-bloque-1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 20%;
}
.boton-bloque-info {
  width: 35%;
}
.imagen-joystick-inicio {
  width: 350px;
  position: absolute;
  top: 5%;
  left: 110%;
  rotate: -20deg;
}

/* Inicio diseño responsive */

/* Hasta Desktop L  */
@media screen and (max-width: 1024px) {
  /* Seccion juego destacado  */
  .juegodestacado {
    flex-direction: row;
    margin-top: 2rem;
  }
  .contenedor-juego-destacado {
    flex-direction: row;
    width: 95%;
  }
  .infojuego-contenedor {
    min-width: 20%;
    width: 50%;
  }
  .imagen-destacada {
    width: 50%;
  }
  .imagen-destacada-img {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
  }

  /* Seccion titulos de juegos  */
  .seccion-juegos {
    width: 95%;
  }
  .contenedor-juegos-inicio {
    width: 100%;
    gap: 1.5rem;
  }

  .producto-inicio {
    /* max-width: 48%; */
    margin-bottom: 10px;
    width: 10rem;
  }

  /* Seccion info adicional  */

  .informacion-adicional-contenedor {
    gap: 1rem;
  }
  .bloques-informacion-adicional {
    width: 45%;
    padding: 2rem;
  }
  .info-bloque-2,
  .info-bloque-1 {
    position: static;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: fit-content;
  }
  .imagen-joystick-inicio {
    position: static;
    width: 200px;
    rotate: 0deg;
    margin-top: 1rem;
  }
}

/* Celular */
@media screen and (max-width: 425px) {
  /* Seccion juego destacado  */
  .juegodestacado {
    flex-direction: column;
    margin-top: 2rem;
  }
  .contenedor-juego-destacado {
    flex-direction: column;
  }
  .imagen-destacada {
    width: 100%;
  }
  .imagen-destacada-img {
    max-width: 100%;
  }
  .infojuego-contenedor {
    width: 100%;
  }
  .info-juego {
    width: 100%;
  }
  /* Seccion titulos de juegos  */
  .contenedor-juegos-inicio {
    width: 100%;
    gap: 1rem;
  }
  .info-juego {
    min-width: 90%;
  }
  .producto-inicio {
    /* max-width: 48%; */
    margin-bottom: 10px;
    width: 10rem;
  }

  /* Seccion info adicional  */

  .informacion-adicional-contenedor {
    flex-direction: column;
    width: 95%;
  }
  .bloques-informacion-adicional {
    width: 100%;
    padding: 2rem;
  }
  .info-bloque-2,
  .info-bloque-1 {
    position: static;
    display: flex;
    flex-direction: column;
    max-width: 100%;

    width: fit-content;
  }
  .imagen-joystick-inicio {
    position: static;
    width: 300px;
    rotate: 0deg;
    margin: 1rem;
  }
}
