.body-404 {
  min-height: 100vh;
  background-color: var(--background);
}
.main-404 {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedor-imagen-moneda {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.box-mario {
  width: 300px;
  cursor: pointer;
}
.error404-titulo {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3rem;
}
.error-titulo {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
}
.mario-moneda {
  max-width: 20px;
}
.contador-de-monedas {
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
}
